*{
    border: 0px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

    /*how you declare vars in css*/
:root{
    --base: rgb(148, 0, 153);
    --spacing: 100px;
    --blur: 0px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ece8d9;
}

.slider-wrapper{
    width: 60%;
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    -webkit-transition: .2s; /*webkit makes it work in-browser*/
    transition: all .2s;
}

.slider{
    background: #d3d3d3;
    flex-grow: 1;
}

.selector{
    -webkit-appearance: none;/*overrides default*/
    appearance: none;
    height: 20px;  /*selector height*/
    outline: none;
    opacity: .7;
    margin: 15px;
}

.selector:hover{
    opacity: 1; /*when hovering, this makes the element darken*/
}

.color-picker{
    width: 60px;
}

    /*this affects the handle of the slider*/
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: var(--base);
    border-radius: 50%;
}

.img-main {
    filter: blur(var(--blur)); /*this filter allows you to adjust the blur using the var.  Filter can be used on more than img elements*/
    background-color: var(--base); /*base color*/
    height: 60vh;
    width: 60%;
    background-color: var(--base);
    background-size: cover;
    object-fit: cover;
}