*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --color: rgb(236, 147, 44);
    --bg-color: rgb(240, 236, 233);
}

.wrapper{
    display: flex;
    flex-direction: column;
    color: var(--color);
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
}

h1{
    padding-top: 30px;
    font-size: 300%;
}

h2{
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link{
    color: var(--color);
    font-size: 150%;
    padding: 10px 0px;
    text-decoration: underline;
}