*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lato',
        sans-serif;
}
.flex-cont{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.hero{
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    display: inherit;
    align-self: stretch;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(255, 138, 28), rgb(255, 115, 28)); 
    z-index: 1;
}
.header-container{
    top: 0px;
    left: 0px;
}
/* .footer-container{
    position: absolute;
    bottom: 0px;
} */

    /* canvas */
#draw{
    position: absolute;
    top: 0px;
    height: 100vh;
    flex-basis: 100%;

}

    /* text */
.title {
    font-size: 1.5em;
    align-self: center;
    color: white;
}

.text{
    font-size: 2.5vh;
    color: rgb(44, 44, 44);
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    z-index: 1;
    margin: 5vh;
    border-radius: 10px;
    flex-basis: 70vh;
    width: 10vh;
    background-color: rgb(236, 236, 236);
}

.btn{
    flex-basis: 10%;
    width: 70%;
    border-radius: 50%;
        /*dummy border for transition*/
    border: solid 3px rgba(0, 0, 0, 0);
    -webkit-transition: border .3s;
    transition: border .3s;
}

#btn-0{
    background-color: rgb(255, 176, 28);
}
#btn-1{
    background-color: rgb(255, 138, 28);
}
#btn-2{
    background-color: rgb(28, 221, 255);
}
#btn-3{
    background-color: rgb(153, 28, 255);
}
#btn-4{
    background-color: rgb(255, 28, 153);
}
#btn-5{
    background-color: rgb(46, 46, 46);
}
#btn-6{
    background-color: rgb(255, 255, 255);
}

.highlight{
    border: solid 3px rgb(255, 229, 80);
}

.clicking{
    border: solid 5px rgb(255, 243, 175);
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 100px;
    margin-top: 3vh;
    margin-right: 5vh;
}

.slider {
    border-radius: 5px;
    margin-top: 10px;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: rgb(236, 236, 236);
    /* Grey background */
    outline: none;

}

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb{
    border-radius: 50%;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(255, 138, 28);
    /* Green background */
}

    /* only one pseudo element per selector */
.slider::-moz-range-thumb{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgb(255, 138, 28);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;

}

